* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #5d516c;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.header {
  background-color: #fff;
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: top;
  height: 109px;
  z-index: 100;
}

.header-iner {
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
}

.header-wraper {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.header-logo__wraper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
}

.header-logo--link {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-shrink: 0;
  height: 109px;
  max-height: 100%;
}

.header-logo--link img {
  width: 154px;
  height: 29px;
}

.header-navigation {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.navigation-list {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  white-space: nowrap;
  margin-left: 130px;
}

.navigation-item {
  padding: 0 25px;
  height: 100%;
}

.navigation-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.navigation-iner {
  color: #3b1b52;
}

.navigation-iner::after {
  content: "";
  width: 0;
  height: 1px;
  display: block;
  background-color: rgb(31, 29, 29);
  transition: width 0.4s ease;
}

.navigation-link:hover .navigation-iner::after {
  width: 100%;
}

.header-control {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  margin-right: 0;
  position: relative;
  left: -50px;
}

.header-control__icon {
  margin: 0 0 0 12px;
  display: inline-flex;
  line-height: 1;
}

.short-code {
  font-size: 19px;
  position: relative;
  width: 4rem;
  height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
}

.control-link {
  color: #38214a;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.control-icon {
  font-size: 20px;
  left: 5px;
  position: relative;
}

.svg-circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  stroke-width: 1.1;
  fill: none;
  -webkit-transition: all 0.7s ease-in-out, opacity 0.2s ease-out;
  -o-transition: all 0.7s ease-in-out, opacity 0.2s ease-out;
  transition: all 0.7s ease-in-out, opacity 0.2s ease-out;
  stroke: currentColor;
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  opacity: 0;
  stroke-dashoffset: 200;
  stroke-dasharray: 200;
}

.control-spotify {
  left: 0 !important;
}

.control-sound {
  left: 2px !important;
}

.svg-circle:hover {
  stroke-dashoffset: 2;
  opacity: 1;
}

.container {
  min-height: 100vh;
  padding-top: 75px;
}
.tour-head {
  padding: 0 30%;
}
.tour-head-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.tour-heading {
  text-align: center;
  font-weight: 700;
  color: #38214a;
  font-size: 44px;
  letter-spacing: 1px;
  margin: 25px 0;
  word-wrap: break-word;
}
.tour-subHeading {
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 17px 0 0;
  text-align: center;
  line-height: 25px;
  color: #5d516c;
}
.tour-list-container {
  padding-top: 57px;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 180px;
}
.row {
  margin: 0 -40px;
}
.tour-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.tour-item {
  position: relative;
  flex: 0 0 calc(100% / 3);
  padding: 0 40px;
  margin-bottom: 80px;
}
.tour-link {
  display: block;
  height: 430px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.4);
}
.tour-item:nth-child(2) .tour-link,
.tour-item:nth-child(5) .tour-link,
.tour-item:nth-child(8) .tour-link {
  margin-top: 40px;
}
.tour-link > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.8s ease;
}
.tour-link:hover > img {
  filter: blur(5px);
}
.tour-overlay {
  position: absolute;
  inset: 0;
  color: inherit;
  padding: 30px;
}
.tour-calendar {
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 600;
  font-size: 17px;
}
.tour-des {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: white;
}
.tour-name {
  font-size: 18px;
  font-weight: bold;
}
.tour-location {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  margin-top: 20px;
  background-color: #181c42;
}

.follow-content {
  padding: 52px 0px 102px 0px;
  position: relative;
}

.follow-list {
  display: flex;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.follow-item {
  width: 20%;
  text-align: center;
  position: relative;
}

.follow-item__link {
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.follow-item__link:hover .item-link__icon {
  color: rgba(248, 231, 229, 0.5);
}

.item-link__icon {
  position: relative;
  font-size: 120px;
  line-height: 1em;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(248, 231, 229, 0.8);
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.item-link__text {
  position: absolute;
  display: block;
  width: 100%;
  margin: 0;
  top: calc(50% - 9px);
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

/* footer img */

.footer-link__img {
  padding: 0px 65px 0px 65px;
  position: relative;
}

.footer-link__img--iner {
}

.footer-link__img-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-link__img-item {
  width: 12.5%;
  padding: 0 10px !important;
  margin: 0 0 20px !important;
}

.img-link {
  display: inline-block;
  text-decoration: none;
  opacity: 1;
  overflow: hidden;
  transition: all 0.5s ease;
  border-radius: 5px;
  position: relative;
  height: 175px !important;
  width: 100%;
}

.img-link::after {
  font-family: "Font Awesome 5 Brands";
  content: "\f16d";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.img-link:hover.img-link::after {
  opacity: 1;
}

.img-link:hover .img-footer {
  filter: blur(5px);
}

.img-footer {
  display: inline-block;
  transition: 0.5s ease-out;
  width: 100%;
  height: 100%;
}

.footer-contact__link {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 30px;
  cursor: pointer;
  z-index: 1;
}

.footer-contact__link--iner {
  position: relative;
  right: 5%;
}

.footer-icon-list {
  display: flex;
  font-size: 22px;
  color: #fff;
}

.footer-icon-item {
  margin: 0 12px;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
}

.svg-circle__contact {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  stroke-width: 1.1;
  fill: none;
  -webkit-transition: all 0.7s ease-in-out, opacity 0.2s ease-out;
  -o-transition: all 0.7s ease-in-out, opacity 0.2s ease-out;
  transition: all 0.7s ease-in-out, opacity 0.2s ease-out;
  stroke: currentColor;
  -webkit-transform: scaleX(-1) scaleY(-1);
  -ms-transform: scaleX(-1) scaleY(-1);
  transform: scaleX(-1) scaleY(-1);
  opacity: 0;
  stroke-dashoffset: 200;
  stroke-dasharray: 200;
}

.svg-circle__contact:hover {
  stroke-dashoffset: 2;
  opacity: 1;
}

.footer-policy {
  display: flex;
  position: relative;
  padding-bottom: 70px;
  top: -20px;
}

.footer-policy__iner {
  position: relative;
  left: 6%;
  color: #fff;
}

.footer-policy__heading img {
  margin-bottom: 4px;
  color: #fff;
  width: 112px;
  height: 21px;
}

.footer-policy__copy {
  font-size: 16px;
  margin-left: -2px;
}

.back-on {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, color 0.2s ease;
}

.back-off {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.15s ease, visibility 0s 0.15s;
}

.back-to-top {
  position: fixed;
  right: 50px;
  bottom: 0;
  display: flex;
  align-items: center;
  margin: 0;
  opacity: 0;
  transform: rotate(-90deg) translateX(calc(100% + 7px));
  transform-origin: 100% 0;
  z-index: 10000;
  transition: 0.3s ease-out;
  color: var(--primary-color);
}

.back-to-top:hover .back-to-top__icon {
  left: 3px;
}

.back-to-top__label {
  font-weight: 600;
  margin-right: 7px;
  font-size: 17px;
}

.back-to-top__icon {
  position: relative;
  left: -2px;
  top: 3px;
  font-size: 15px;
  transition: 0.3s linear;
}
